// フォントサイズの変数
/* 1rem=1em=16px */

/* 32px */
$accent: 2rem;
/* 26px */
$huge: 1.63rem;
/* 22px */
$large: 1.37rem;
/* 20px */
$medium: 1.25rem;
/* 16px */
$default: 1rem;
/* 14px */
$small: 0.87rem;
/* 12px */
$mini: 0.75rem;